<div class="container">
	<div class="s-banner">
		<div class="row align-items-center">
			<div class="col-md-7">
				<h2 class="mb-5">
					Create Professionel Resume With
					<span>Resume Builder</span>
				</h2>
				<a href="resumes.html#template-resumes" class="btn-w-big  btn-">
					<span>Build your resume</span>
				</a>
			</div>
			<div class="col-md-5">
				<div class="img-banner">
					<img src="../assets/images/banner.png" alt=""/>
				</div>
			</div>
		</div>
	</div>
</div>
