<div class="container">
	<div class="s-banner">
		<div class="row align-items-center">
			<div class="col-md-7">
				<h2 class="mb-5">
					create professionel
					<span>Resume</span>
				</h2>
				<a href="#" class="button btn-w-big btn-white-color-p">Create your Resume</a>
			</div>
			<div class="col-md-5">
				<div class='img-banner'>
					<img src="../assets/images/banner.png" alt=""/>
				</div>
			</div>
		</div>
	</div>
</div>
