/**
 * @section Base Styles
 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: $font;
    list-style: none;
    scrollbar-color: $color-p $white;
    scrollbar-width: thin;
}

::selection{
    background-color: $color-semo;
    color: $white;
}

body {
    z-index: 0;
    background-color: $white !important;
    padding: 0;
    margin: 0;
}

.body-template {
    overflow: hidden;
    background-color: $color-semo;
}

html {
    font-size: 14px;
}

@media(min-width:992px) {
    html {
        font-size: 16px;
    }
}

a {
    text-decoration: none !important;
}

p {
    font-size: 0.9rem;
    font-family: $font;
}

.button,
input[type="submit"],
button {
    border: 0 !important;
    outline: 0;
    font-weight: 500;
    font-family: 'helvetica', sans-serif !important;
}


.btn-border-semo {
    color: $color-semo;
    border: 1.3px solid $color-semo;
}
.bg-semo {
    background-color: $color-semo;
}
.btn-bg-semo {
    color: $white;
    background-color: $color-semo;
}

.btn-bg-blue {
    color: $white;
    background-color: $color-p;
}
.btn-bg-white-blue {
    background-color: $white;
    color: $color-p;
}
.main-body{
    background-color: $color-semo;
    // background-image: url(../images/bg-blue.png);
    // background-repeat: no-repeat;
    // background-position: left top;
    // background-size: 226vh;
    // background-attachment: fixed;
    position: relative;
    z-index: 0;
    .bg-maln{
        position: fixed;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 120vh;
        object-fit: cover;
    }
}
.btn-w {
    font-size: 0.8rem;
    padding: 4px 20px;
    border-radius: 5px;
}
@media(min-width:576px){
    .btn-w {
        padding: 10px 35px;
    }
}

.btn-w-big {
    font-size: 0.9rem;
    padding: 15px 25px;
    border-radius: 6px;
}

@media(min-width:992px){
    .btn-w-big {
        font-size: 1rem;
        padding: 20px 40px;
    }
}

.text-color-p {
    color: $color-p;
}

.text-perpl {
    color: $perpel;
}

.flx-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea,
select,
input {
    padding: 0.3rem .5rem;
    outline: 0;
    border: 0;
    font-size: 0.8rem;
    border-radius: 4px;
    font-family: 'helvetica', sans-serif !important;
    font-weight: normal;
    border: 1px solid $perpel;
    width: 100%;
}

textarea:focus::placeholder,
input:focus::placeholder {
    color: transparent;
}

.w-25 {
    width: 25%;
}

.w-70 {
    width: 70%;
}

.flx-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}