footer {
    background-color: #5296ff;
    position: relative;

    p {
        color: #fff;
        font-size: 15px;
    }

    ul,
    ol {
        list-style: none;
        font-size: 15px;
    }

    .footer-logo {
        width: 140px;
        object-fit: contain;
    }

    hr {
        width: 100%;
        height: 1px;
        background-color: #fff;
        padding: 0;
        margin: 0;
    }

    .social-media {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;

        a {
            margin-right: 11px;
            transition: 0.3s;

            img {
                width: 30px;
                height: 30px;
                object-fit: contain;
            }

            &:hover {
                img {
                    transform: scale(1.09);
                    transition: 0.3s;
                }
            }
        }
    }

    .footer-menu {
        padding-left: 0;
        width: fit-content;

        li {
            a {
                color: #fff;
            }

            a:hover {
                color: $color-p;
            }
        }
    }

    .ftr-menu {
        display: flex;

        a {
            color: $color-p;
            text-transform: capitalize;
            text-decoration: underline !important;
        }
    }
}

@media(min-width:768px) {
    footer {
        .footer-menu {
            margin: auto;
        }

        .ftr-menu {
            justify-content: flex-end;
        }

        .social-media {
            justify-content: flex-end;
            margin-bottom: 0px;

            a {
                margin-left: 11px;
                margin-right: 0;
            }
        }
    }
}

@media(min-width:992px) {
    footer {
        .footer-logo {
            width: 140px;
        }
    }
}