header {
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 15px;
    width: 100%;
    z-index: 1;

    ul,
    ol {
        list-style: none !important;
    }

    .row {
        box-shadow: 12px 10px 5px #00000054;
        background-color: $white;
        border-radius: 6px !important;
        margin: 0;
    }

    .header-logo {
        width: 111px;
        padding: 10px 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .btn-toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent !important;

        span {
            height: 3px;
            background-color: $color-p;
            width: 30px;
            margin-bottom: 5px;
            border-radius: 5px;
        }
    }

    span.two {
        width: 35px;
    }
}

.btn-toggle.open {
    span.one {
        transform: translateY(2px) rotate(-135deg);
    }

    span.two {
        display: none;
    }

    span.tree {
        transform: translateY(-7px) rotate(310deg);
    }
}

.header-menu {
    border-top: 1px solid $color-p;
    height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;

    &__nav {
        width: 100%;

        ul {
            margin: 0;
            padding: 0;
            margin: 0;

            li {
                padding: 15px 0;
                position: relative;

                a {
                    text-transform: capitalize;
                    color: $color-text;
                    font-weight: normal;
                }

                a:hover {
                    color: $perpel;
                }
            }

            li.dropdown {
                position: relative;
                z-index: 1;

                &>a {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    &::after {
                        content: "";
                        background-image: url("../images/icons/select.svg");
                        background-repeat: no-repeat;
                        background-position-y: 70%;
                        width: 20px;
                        height: 15px;
                        overflow: hidden;
                        background-size: 9px;
                        background-position-x: 50%;
                    }
                }

                &>a:hover {
                    &::after {
                        background-image: url("../images/icons/select-hover.svg");
                    }
                }

                .sous-menu {
                    opacity: 0;
                    pointer-events: none;
                    height: 0;

                    li {
                        padding: 8px 0;

                        a {
                            color: $color-p;
                            font-size: 0.9rem;
                            text-transform: capitalize;
                        }

                        a:hover {
                            color: $perpel;
                        }
                    }
                }
            }

            li.dropdown:hover {
                .sous-menu {
                    opacity: 1;
                    pointer-events: fill;
                    height: auto;
                }
            }
        }
    }
}

.header-menu.menu-active {
    padding-top: 15px;
    height: auto;
    transition: 0.2s ease-in;
}

@media(min-width:992px) {
    header {
        padding: 0;

        .header-logo {
            margin-bottom: 0px;
        }

        .btn-toggle {
            display: none;
        }

        .header-menu {
            border-top: unset;
            padding-top: 0px;
            height: auto;
            overflow: unset;

            &__nav {
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    li {
                        padding: 20px 0;

                        a {
                            padding: 0 15px;
                        }
                    }

                    li.dropdown {
                        .sous-menu {
                            background-color: $white;
                            padding: 20px;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: 100%;
                            z-index: 2;
                            border-radius: 12px;
                            display: block;
                            box-shadow: 0px 0px 14px $shadow;
                            height: auto;
                            min-width: 280px;
                        }
                    }
                }
            }
        }
    }
}