header {
    background-color: $white;
    padding: 15px 0;

    .header-logo {
        width: 90px;
        margin-bottom: 15px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .btn-toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            height: 2.3px;
            background-color: $color-p;
            width: 30px;
            border-radius: 5px;
            margin-bottom: 6px;
        }

        span.two {
            width: 40px;
        }
    }

    .btn-toggle.open {
        span.one {
            transform: translateY(2px) rotate(-135deg);
        }

        span.two {
            display: none;
        }

        span.tree {
            transform: translateY(-7px) rotate(310deg);
        }
    }

    .header-menu {
        border-top: 1px solid $color-p;
        //height: 0;
        overflow: hidden;

        &__nav {
            width: 100%;

            ul {
                margin: 0;
                padding: 0;
                margin: 0;

                li {
                    padding: 15px 0;
                    position: relative;

                    span {
                        position: absolute;
                        top: 0px;
                        color: red;
                        left: 0;
                        text-align: left;
                        font-size: 0.8rem;
                        text-shadow: 1px 1px 8px #ff0000b6;
                    }

                    a {
                        text-transform: uppercase;
                        color: $color-p;
                        font-weight: 500;
                        letter-spacing: 2px;
                    }

                    a:hover {
                        color: $perpel;
                    }
                }

                li.dropdown {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    &::after {
                        content: "";
                        background-image: url("../images/icons/select.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 23px;
                        height: 23px;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    .header-menu.menu-active {
        padding-top: 15px;
        height: auto;
    }
}


@media(min-width:992px) {
    header {
        .header-logo {
            width: 110px;
            margin-bottom: 0px;
        }

        .btn-toggle {
            display: none;
        }

        .header-menu {
            border-top: unset;
            padding-top: 0px;
            height: auto;

            &__nav {
                ul {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    li {
                        a {
                            padding-left: 16px;
                        }

                        span {
                            left: unset;
                            right: 0;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width:1200px) {
    header {
        .header-menu {
            &__nav {
                ul {
                    li {
                        a {
                            padding-left: 30px;
                            letter-spacing: 2px;
                        }
                    }
                }
            }
        }
    }
}
