.filter-resumes {
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: 100%;
    height: 250px;
    top: 44px;
    .container-form{
        background-color: $white;
        border-radius: 6px;
        box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.15);
    }
    form{
        width: 100%;
        padding: 14px 0 9px;
    }
}

.hg-50{
    height: 50px;
}