<div class="filter-resumes d-flex justify-content-center align-items-center p-3">

	<div class="container container-form">
		<form method="post" action="">
			<div class="row">
				<div class="col-sm-5 mb-1">
					<select class="w-100 hg-50">
						<option value="">Choose Type resumes</option>
						<option value="Chronological Resume">Chronological Resume</option>
						<option value="Chronological Resume">Functional Resume</option>
						<option value="Chronological Resume">Combination Resume</option>
						<option value="Chronological Resume">Targeted Resume</option>
					</select>
				</div>
				<div class="col-sm-5 mb-1">
					<input type="text" class="w-100 hg-50" placeholder="Recherche"/>
				</div>
				<div class="col-sm-2 mb-1">
					<button class="w-100 hg-50 btn-w btn-bg-semo">Filtrer</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="s-list-resumes pt-5 pb-5" id="template-resumes">
	<div class="container">
		<h2 class="text-center text-white mb-5">
			OUR COLLECTION RESUMES
		</h2>
		<div class="row">
			<div class="col-6 col-md-3 mb-3">
				<div class="card-resume">
					<div class="card-resume__bg">
						<a href="javascript:void(0);" class="btn-preview flx-center">
							<img src="../assets/images/icons/preview.svg" alt=""/>
						</a>
						<div class="card-buttons">
							<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv1.png" alt=""/>
					</div>
					<div class="card-resume__type">
						<span>type resume</span>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 mb-3">
				<div class="card-resume">
					<div class="card-resume__bg">
						<a href="javascript:void(0);" class="btn-preview flx-center">
							<img src="../assets/images/icons/preview.svg" alt=""/>
						</a>
						<div class="card-buttons">
							<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
					<div class="card-resume__type">
						<span>type resume</span>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 mb-3">
				<div class="card-resume">
					<div class="card-resume__bg">
						<a href="javascript:void(0);" class="btn-preview flx-center">
							<img src="../assets/images/icons/preview.svg" alt=""/>
						</a>
						<div class="card-buttons">
							<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
					<div class="card-resume__type">
						<span>francphone</span>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 mb-3">
				<div class="card-resume">
					<div class="card-resume__bg">
						<a href="javascript:void(0);" class="btn-preview flx-center">
							<img src="../assets/images/icons/preview.svg" alt=""/>
						</a>
						<div class="card-buttons">
							<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
					<div class="card-resume__type">
						<span>arabic</span>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 mb-3">
				<div class="card-resume">
					<div class="card-resume__bg">
						<a href="javascript:void(0);" class="btn-preview flx-center">
							<img src="../assets/images/icons/preview.svg" alt=""/>
						</a>
						<div class="card-buttons">
							<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
					<div class="card-resume__type">
						<span>canadient</span>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 mb-3">
				<div class="card-resume">
					<div class="card-resume__bg">
						<a href="javascript:void(0);" class="btn-preview flx-center">
							<img src="../assets/images/icons/preview.svg" alt=""/>
						</a>
						<div class="card-buttons">
							<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
					<div class="card-resume__type">
						<span>type resume</span>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 mb-3">
				<div class="card-resume">
					<div class="card-resume__bg">
						<a href="javascript:void(0);" class="btn-preview flx-center">
							<img src="../assets/images/icons/preview.svg" alt=""/>
						</a>
						<div class="card-buttons">
							<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
					<div class="card-resume__type">
						<span>canadient</span>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 mb-3">
				<div class="card-resume">
					<div class="card-resume__bg">
						<a href="javascript:void(0);" class="btn-preview flx-center">
							<img src="../assets/images/icons/preview.svg" alt=""/>
						</a>
						<div class="card-buttons">
							<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
					<div class="card-resume__type">
						<span>type resume</span>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 mb-3">
				<div class="card-resume">
					<div class="card-resume__bg">
						<a href="javascript:void(0);" class="btn-preview flx-center">
							<img src="../assets/images/icons/preview.svg" alt=""/>
						</a>
						<div class="card-buttons">
							<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
					<div class="card-resume__type">
						<span>canadient</span>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 mb-3">
				<div class="card-resume">
					<div class="card-resume__bg">
						<a href="javascript:void(0);" class="btn-preview flx-center">
							<img src="../assets/images/icons/preview.svg" alt=""/>
						</a>
						<div class="card-buttons">
							<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
					<div class="card-resume__type">
						<span>type resume</span>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 mb-3">
				<div class="card-resume">
					<div class="card-resume__bg">
						<a href="javascript:void(0);" class="btn-preview flx-center">
							<img src="../assets/images/icons/preview.svg" alt=""/>
						</a>
						<div class="card-buttons">
							<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
					<div class="card-resume__type">
						<span>canadient</span>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 mb-3">
				<div class="card-resume">
					<div class="card-resume__bg">
						<a href="javascript:void(0);" class="btn-preview flx-center">
							<img src="../assets/images/icons/preview.svg" alt=""/>
						</a>
						<div class="card-buttons">
							<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
					<div class="card-resume__type">
						<span>type resume</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
