.filter-resumes {
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: 100%;
    height: 250px;

    .img-bg {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: blur(2px);
    }
    form{
        width: 100%;
    }
}

.hg-50{
    height: 50px;
}