<div class="s-sliders">
	<div class="container">
		<h2 class="text-white mb-4">
			Professionel Resume Templates
		</h2>
	</div>
	<div class="slider-resumes">
		<div class="b-card">
			<div class="card-resume mb-3">
				<div class="card-resume__bg">
					<a href="javascript:void(0);" class="btn-preview flx-center">
						<img src="../assets/images/icons/preview.svg" alt=""/>
					</a>
					<div class="card-buttons">
						<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>
					</div>
				</div>
				<div class="card-resume__img">
					<img src="../assets/images/cv1.png" alt=""/>
				</div>
			</div>
		</div>
		<div class="b-card">
			<div class="card-resume mb-3">
				<div class="card-resume__bg">
					<a href="javascript:void(0);" class="btn-preview flx-center">
						<img src="../assets/images/icons/preview.svg" alt=""/>
					</a>
					<div class="card-buttons">
						<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>

					</div>
				</div>
				<div class="card-resume__img">
					<img src="../assets/images/cv.jpg" alt=""/>
				</div>
			</div>
		</div>
		<div class="b-card">
			<div class="card-resume mb-3">
				<div class="card-resume__bg">
					<a href="javascript:void(0);" class="btn-preview flx-center">
						<img src="../assets/images/icons/preview.svg" alt=""/>
					</a>
					<div class="card-buttons">
						<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>

					</div>
				</div>
				<div class="card-resume__img">
					<img src="../assets/images/cv.jpg" alt=""/>
				</div>
			</div>
		</div>
		<div class="b-card">
			<div class="card-resume mb-3">
				<div class="card-resume__bg">
					<a href="javascript:void(0);" class="btn-preview flx-center">
						<img src="../assets/images/icons/preview.svg" alt=""/>
					</a>
					<div class="card-buttons">
						<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>

					</div>
				</div>
				<div class="card-resume__img">
					<img src="../assets/images/cv.jpg" alt=""/>
				</div>
			</div>
		</div>
		<div class="b-card">
			<div class="card-resume mb-3">
				<div class="card-resume__bg">
					<a href="javascript:void(0);" class="btn-preview flx-center">
						<img src="../assets/images/icons/preview.svg" alt=""/>
					</a>
					<div class="card-buttons">
						<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>

					</div>
				</div>
				<div class="card-resume__img">
					<img src="../assets/images/cv.jpg" alt=""/>
				</div>
			</div>
		</div>
		<div class="b-card">
			<div class="card-resume mb-3">
				<div class="card-resume__bg">
					<a href="javascript:void(0);" class="btn-preview flx-center">
						<img src="../assets/images/icons/preview.svg" alt=""/>
					</a>
					<div class="card-buttons">
						<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>

					</div>
				</div>
				<div class="card-resume__img">
					<img src="../assets/images/cv.jpg" alt=""/>
				</div>
			</div>
		</div>
	</div>
	<div class="slider2-resumes" dir="rtl">
		<div class="b-card" dir="ltr">
			<div class="card-resume mb-3">
				<div class="card-resume__bg">
					<a href="javascript:void(0);" class="btn-preview flx-center">
						<img src="../assets/images/icons/preview.svg" alt=""/>
					</a>
					<div class="card-buttons">
						<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>

					</div>
				</div>
				<div class="card-resume__img">
					<img src="../assets/images/cv.jpg" alt=""/>
				</div>
			</div>
		</div>
		<div class="b-card" dir="ltr">
			<div class="card-resume mb-3">
				<div class="card-resume__bg">
					<a href="javascript:void(0);" class="btn-preview flx-center">
						<img src="../assets/images/icons/preview.svg" alt=""/>
					</a>
					<div class="card-buttons">
						<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>

					</div>
				</div>
				<div class="card-resume__img">
					<img src="../assets/images/cv.jpg" alt=""/>
				</div>
			</div>
		</div>
		<div class="b-card" dir="ltr">
			<div class="card-resume mb-3">
				<div class="card-resume__bg">
					<a href="javascript:void(0);" class="btn-preview flx-center">
						<img src="../assets/images/icons/preview.svg" alt=""/>
					</a>
					<div class="card-buttons">
						<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>

					</div>
				</div>
				<div class="card-resume__img">
					<img src="../assets/images/cv.jpg" alt=""/>
				</div>
			</div>
		</div>
		<div class="b-card" dir="ltr">
			<div class="card-resume mb-3">
				<div class="card-resume__bg">
					<a href="javascript:void(0);" class="btn-preview flx-center">
						<img src="../assets/images/icons/preview.svg" alt=""/>
					</a>
					<div class="card-buttons">
						<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>

					</div>
				</div>
				<div class="card-resume__img">
					<img src="../assets/images/cv.jpg" alt=""/>
				</div>
			</div>
		</div>
		<div class="b-card" dir="ltr">
			<div class="card-resume mb-3">
				<div class="card-resume__bg">
					<a href="javascript:void(0);" class="btn-preview flx-center">
						<img src="../assets/images/icons/preview.svg" alt=""/>
					</a>
					<div class="card-buttons">
						<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>

					</div>
				</div>
				<div class="card-resume__img">
					<img src="../assets/images/cv.jpg" alt=""/>
				</div>
			</div>
		</div>
		<div class="b-card" dir="ltr">
			<div class="card-resume mb-3">
				<div class="card-resume__bg">
					<a href="javascript:void(0);" class="btn-preview flx-center">
						<img src="../assets/images/icons/preview.svg" alt=""/>
					</a>
					<div class="card-buttons">
						<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>

					</div>
				</div>
				<div class="card-resume__img">
					<img src="../assets/images/cv.jpg" alt=""/>
				</div>
			</div>
		</div>
	</div>
</div>

