<div class="s-sliders">
	<div class="container">
		<h2 class="mb-4">
			Professionel Resume Templates
		</h2>
	</div>
	<div class="slider-resumes">
		<div class="b-card">
			<a href="create-resume.html">
				<div class="card-resume mb-3">
					<div class="card-resume__img">
						<img src="../assets/images/cv1.png" alt=""/>
					</div>
				</div>
			</a>
		</div>
		<div class="b-card">
			<a href="create-resume.html">
				<div class="card-resume mb-3">
					<div class="card-resume__img">
						<img src="../assets/images/cv1.png" alt=""/>
					</div>
				</div>
			</a>
		</div>
		<div class="b-card">
			<a href="create-resume.html">
				<div class="card-resume mb-3">
					<div class="card-resume__img">
						<img src="../assets/images/cv1.png" alt=""/>
					</div>
				</div>
			</a>
		</div>
		<div class="b-card">
			<a href="create-resume.html">
				<div class="card-resume mb-3">
					<div class="card-resume__img">
						<img src="../assets/images/cv1.png" alt=""/>
					</div>
				</div>
			</a>
		</div>
		<div class="b-card">
			<a href="create-resume.html">
				<div class="card-resume mb-3">
					<div class="card-resume__img">
						<img src="../assets/images/cv1.png" alt=""/>
					</div>
				</div>
			</a>
		</div>
	</div>


	<div class="slider2-resumes" dir="rtl">
		<div class="b-card" dir="ltr">
			<a href="create-resume.html">
				<div class="card-resume mb-3">
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
				</div>
			</a>
		</div>
		<div class="b-card" dir="ltr">
			<a href="create-resume.html">
				<div class="card-resume mb-3">
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
				</div>
			</a>
		</div>
		<div class="b-card" dir="ltr">
			<a href="create-resume.html">
				<div class="card-resume mb-3">
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
				</div>
			</a>
		</div>
		<div class="b-card" dir="ltr">
			<a href="create-resume.html">
				<div class="card-resume mb-3">
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
				</div>
			</a>
		</div>
		<div class="b-card" dir="ltr">
			<a href="create-resume.html">
				<div class="card-resume mb-3">
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
				</div>
			</a>
		</div>
		<div class="b-card" dir="ltr">
			<a href="create-resume.html">
				<div class="card-resume mb-3">
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
