<div class="pt-5">
	<h2 class="text-center text-color-p mb-4">
		PROFESSIONAL
		<span class="text-perpl">
			RESUME TEMPLATES</span>
	</h2>
	<div class="slider-resumes">
		<div class="p-3">
			<div class="card-resume mb-3">
				<div class="card-resume__bg">
					<button class="btn-preview flx-center">
						<img src="../assets/images/icons/preview.svg" alt=""/>
					</button>
					<div class="card-buttons">
						<a href="#" class="btn-w bg-perple">USE THIS</a>
						<button class="btn-save">
							<img src="../assets/images/icons/save.svg" alt=""/>
						</button>
					</div>
				</div>
				<div class="card-resume__img">
					<img src="../assets/images/cv.jpg" alt=""/>
				</div>
			</div>
		</div>
		<div class="p-3">
			<div class="card-resume mb-3">
				<div class="card-resume__bg">
					<button class="btn-preview flx-center">
						<img src="../assets/images/icons/preview.svg" alt=""/>
					</button>
					<div class="card-buttons">
						<a href="#" class="btn-w bg-perple">USE THIS</a>
						<button class="btn-save">
							<img src="../assets/images/icons/save.svg" alt=""/>
						</button>
					</div>
				</div>
				<div class="card-resume__img">
					<img src="../assets/images/cv.jpg" alt=""/>
				</div>
			</div>
		</div>
		<div class="p-3">
			<div class="card-resume mb-3">
				<div class="card-resume__bg">
					<button class="btn-preview flx-center">
						<img src="../assets/images/icons/preview.svg" alt=""/>
					</button>
					<div class="card-buttons">
						<a href="#" class="btn-w bg-perple">USE THIS</a>
						<button class="btn-save">
							<img src="../assets/images/icons/save.svg" alt=""/>
						</button>
					</div>
				</div>
				<div class="card-resume__img">
					<img src="../assets/images/cv.jpg" alt=""/>
				</div>
			</div>
		</div>
		<div class="p-3">
			<div class="card-resume mb-3">
				<div class="card-resume__bg">
					<button class="btn-preview flx-center">
						<img src="../assets/images/icons/preview.svg" alt=""/>
					</button>
					<div class="card-buttons">
						<a href="#" class="btn-w bg-perple">USE THIS</a>
						<button class="btn-save">
							<img src="../assets/images/icons/save.svg" alt=""/>
						</button>
					</div>
				</div>
				<div class="card-resume__img">
					<img src="../assets/images/cv.jpg" alt=""/>
				</div>
			</div>
		</div>
		<div class="p-3">
			<div class="card-resume mb-3">
				<div class="card-resume__bg">
					<button class="btn-preview flx-center">
						<img src="../assets/images/icons/preview.svg" alt=""/>
					</button>
					<div class="card-buttons">
						<a href="#" class="btn-w bg-perple">USE THIS</a>
						<button class="btn-save">
							<img src="../assets/images/icons/save.svg" alt=""/>
						</button>
					</div>
				</div>
				<div class="card-resume__img">
					<img src="../assets/images/cv.jpg" alt=""/>
				</div>
			</div>
		</div>
		<div class="p-3">
			<div class="card-resume mb-3">
				<div class="card-resume__bg">
					<button class="btn-preview flx-center">
						<img src="../assets/images/icons/preview.svg" alt=""/>
					</button>
					<div class="card-buttons">
						<a href="#" class="btn-w bg-perple">USE THIS</a>
						<button class="btn-save">
							<img src="../assets/images/icons/save.svg" alt=""/>
						</button>
					</div>
				</div>
				<div class="card-resume__img">
					<img src="../assets/images/cv.jpg" alt=""/>
				</div>
			</div>
		</div>
	</div>
	<div class="buttons-slider  flx-center">
		<button class="m-3 prev">
			<img src="../assets/images/icons/prev.svg" alt=""/>
		</button>
		<button class="m-3 next">
			<img src="../assets/images/icons/next.svg" alt=""/>
		</button>
	</div>
</div>
