<div class="pt-5 pb-5 bg-perple-2">
	<div class="container">
		<div class="row">
			<div class="col-5">
				<h1 class="text-center mb-5">
					WATCH VIDEO FOR MORE DETAILS AND HOW USE RESUME BUILDER FOR CREATE YOUR
					<span>PROFESSIONAL RESUME</span>
				</h1>
				<div class="text-center">
					<a href="#" class="btn-w">VIEW MORE TEMPLATES</a>
				</div>
			</div>
			<div class="col-7"></div>
		</div>
	</div>
</div>
