<div class="pt-5 pb-5 s-banner-video">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div>
					<h1 class="mb-5">
						WATCH VIDEO FOR MORE DETAILS AND HOW USE RESUME BUILDER FOR CREATE YOUR
						<span>PROFESSIONAL RESUME</span>
					</h1>
					<div class="mb-5">
						<a href="create-resume.html" class="btn-w-big btn-color-p">CREATE YOUR RESUME</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="s-video flx-center">
					<video controls>
						<source src="../assets/images/video/v1.mp4" type="video/mp4">
					</video>
					<div class="wrap-video flx-center">
						<div class="play-btn flx-center">
							<button class='flx-center'>
								<img src="../assets/images/icons/play.svg" alt=""/>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
