.s-banner-video {
    padding: 110px 0 50px;
    position: relative;
    z-index: 0;

    .bg-maln {
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    h1 {
        font-size: calc(2.3rem + 1vw);
        font-weight: 700;
        line-height: 1.3;
        color: #212529;
        text-align: left;

        span {
            background-image: linear-gradient(45deg, #ea84ff, #5296ff);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-weight: 700;
        }
    }

    .s-resume-slider {
        width: 100%;
        position: relative;

        .slider-img {
            width: 100%;

            img {
                width: 100%;
                object-fit: contain;
                object-position: center;
                max-width: 300px;
                margin: auto;
                border-radius: 9px;
                box-shadow: 12px 10px 5px rgba(0, 0, 0, .3294117647);
            }
        }
    }
}

@media(min-width:768px) {
    .s-banner-video {
        .s-resume-slider {
            .slider-img {
                img {
                    float: right;
                }
            }
        }
    }
}