<div class="s-banner-video">
	<img src="../../assets/images/bg.jpg" class="bg-maln" alt=""/>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-8">
				<div>
					<h1 class="mb-5">
						Build Your Professionel Resume With
						<span>Resume Builder</span>
					</h1>
					<div class="mb-5">
						<a href="resumes.html#template-resumes" class="btn-w-big btn- ">
							<span>Build your resume</span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="s-resume-slider">
					<div class="slider-img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
