<div class="wrap-account flx-center">
	<div class="container pb-5 pt-5">
		<div class="row justify-content-center">
			<div class="col-12 col-10 col-lg-8 col-xl-6">
				<div class="sc-account">
					<form method="POST" action="">
						<div class="mb-3"><input type="text" placeholder="UserName *"></div>
						<div class="mb-3"><input type="password" placeholder="Password *"></div>
						<div class="d-grid-2">
							<div class="mb-3"><input type="submit" class="btn-medium bg-perple" value="Login"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
