<a href="#" class="card-resume">
	<div class="card-resume__bg">
		<button class="card-preview">
			<img src="../assets/images/icons/preview.svg" alt=""/>
		</button>
		<div class="card-buttons">
			<a href="#">USE THIS</a>
			<button>
				<img src="../assets/images/icons/save.svg" alt=""/>
			</button>
		</div>
	</div>
	<div class="card-resume__img">
		<img src="../assets/images/cv.jpg" alt=""/>
	</div>
</a>
