.b-card {
    max-width: 230px;
    padding: 0 10px;
}

.card-resume {
    position: relative;
    z-index: 0;
    overflow: hidden;
    display: flex;
    box-shadow: 2px 1px 6px $shadow;
    width: 100%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
    box-shadow: #00000022 0px 2px 4px, #00000024 0px 7px 13px -3px, #00000026 0px -3px 0px inset;
    width: 100%;
    border-radius: 6px;

    &__bg {
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, #0d6efd, #ffffff52);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        opacity: 0;
        pointer-events: none;

        .card-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            transform: scale(0.8);

            .btn-w:hover {
                color: $white;
                background-color: $color-semo;
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__type {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        aspect-ratio: 1;
        clip-path: polygon(0 0, 100% 100%, 100% 0);
        width: 110px;
        background-color: $perpel;

        span {
            color: $white;
            font-size: 0.8rem;
            font-family: 'helvetica', sans-serif !important;
            font-weight: normal;
            transform: rotate(45deg) translate(-42%, 30%);
            display: block;
            text-align: center;
            width: 100px;
            position: absolute;
            left: 50%;
            top: 50%;
        }
    }
}

.btn-preview {
    border: 0;
    outline: 0;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 3;
    cursor: pointer;
    z-index: 3;
    background-color: transparent;
    border: 2px solid $color-semo;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    img {
        width: 23px;
        object-fit: contain;
    }

    &:hover {
        background-color: $color-semo !important;
    }
}


//hover
.card-resume:hover {
    .card-resume__bg {
        opacity: 1;
        pointer-events: fill;

        .card-buttons {
            transform: scale(1);
        }
    }
}