<div class="card-resume">
	<div class="card-resume__bg">
		<a href="javascript:void(0);" class="btn-preview flx-center">
			<img src="../assets/images/icons/preview.svg" alt=""/>
		</a>
		<div class="card-buttons">
			<a href="#" class="btn-w">USE THIS</a>
		</div>
	</div>
	<div class="card-resume__img">
		<img src="../assets/images/cv.jpg" alt=""/>
	</div>
</div>
