.card-resume {
    position: relative;
    z-index: 0;
    overflow: hidden;
    display: flex;
    box-shadow: 2px 1px 6px $shadow;

    &__bg {
        width: 100%;
        height: 100%;
        background-color: $perpel-42;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        opacity: 0;
        pointer-events: none;

        .btn-preview {
            border: 0;
            outline: 0;
            background-color: $color-p;
            width: 45px;
            height: 35px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 3;
            transform: scale(0.8);
            cursor: pointer;

            img {
                width: 25px;
                height: 25px;
                object-fit: contain;
            }
        }

        .btn-preview:hover {
            background-color: $perpel !important;
        }

        .card-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            transform: scale(0.8);

            .btn-save {
                margin-left: 8px;

                img {
                    width: 27px;
                    object-fit: contain;
                }
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

//hover
.card-resume:hover {
    .card-resume__bg {
        opacity: 1;
        pointer-events: fill;

        .card-buttons,
        .btn-preview {
            transform: scale(1);
        }
    }
}
