<div class="wrap-account flx-center">
	<div class="container pb-5 pt-5">
		<div class="row justify-content-center">
			<div class="col-12 col-10 col-lg-8 col-xl-6">
				<div class="sc-account">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="register-tab" data-bs-toggle="tab" data-bs-target="#register-tab-pane" type="button" role="tab" aria-controls="register-tab-pane" aria-selected="true">REGISTER</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="login-tab" data-bs-toggle="tab" data-bs-target="#login-tab-pane" type="button" role="tab" aria-controls="login-tab-pane" aria-selected="true">LOGIN</button>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="register-tab-pane" role="tabpanel" aria-labelledby="register-tab" tabindex="0">
							<form method="POST" action="">
								<div class="d-grid-2">
									<div class="mb-4"><input type="text" placeholder="Name *"></div>
									<div class="mb-4"><input type="email" placeholder="Email *"></div>
									<div class="mb-4"><input type="password" placeholder="Password *"></div>
									<div class="mb-4"><input type="password" placeholder="Confirmation password *"></div>
									<div class="mb-4"><input type="submit" class="btn-medium bg-perple" value="Register"></div>
									<div><input type="submit" class="btn-medium btn-blue" value="Register"></div>
								</div>
							</form>
						</div>
						<div class="tab-pane fade" id="login-tab-pane" role="tabpanel" aria-labelledby="login-tab" tabindex="0">
							<form method="POST" action="">
								<div class="mb-4"><input type="email" placeholder="Email *"></div>
								<div class="mb-4"><input type="password" placeholder="Password *"></div>
								<div class="d-grid-2">
									<div class="mb-4"><input type="submit" class="btn-medium bg-perple" value="Login"></div>
									<div class="mb-4"><input type="submit" class="btn-medium btn-blue" value="Login"></div>
								</div>
								<a href="#" class="text-danger">Forgot password ?</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
