<footer class="bg-white pt-4 pb-4">
	<div class="container">
		<div class="row align-items-center pb-2">
			<div class="col-md-4">
				<div>
					<a href="index.html">
						<img src="../assets/images/logo.png" class="footer-logo mb-4" alt="Resume Builder"/>
					</a>
					<p>
						tzyryezfsfdsf sdufgdsufodsi usgdfudsig fidsfdygf ydsugfdu sfsdfgd suyfgdsi fgudsgf iusdgfdf
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<ul class="footer-menu">
					<li>
						<a href="#">HOME</a>
					</li>
					<li>
						<a href="#">TEMPLATE RESUMES</a>
					</li>
					<li>
						<a href="#">RESUME TYPES</a>
					</li>
					<li>
						<a href="#">ACCOUNT</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<div class="social-media">
					<a href="#" target="_blank">
						<img src="../assets/images/icons/linkedin.svg" alt=""/>
					</a>
					<a href="#" target="_blank">
						<img src="../assets/images/icons/facebook.svg" alt=""/>
					</a>
					<a href="#" target="_blank">
						<img src="../assets/images/icons/instagram.svg" alt=""/>
					</a>
				</div>
			</div>
		</div>
		<hr/>
		<div class="row pt-4">
			<div class="col-md-6">
				<p>
					© 2024 · Resume Builder Privacy Policy
				</p>
			</div>
			<div class="col-md-6">
				<div class="ftr-menu">
					<a href="#">privacy-policy</a>
				</div>
			</div>
		</div>
	</div>
</footer>
