<header>
	<div class="container">
		<div class="row">
			<div class="col-5">
				<div class="header-logo">
					<img src="../assets/images/logo.png" alt="Resume Builder"/>
				</div>
			</div>
			<div class="col-7">
				<div class="header-menu">
					<nav class="header-menu__nav">
						<ul>
							<li><a href="#">HOME</a></li>
							<li><a href="#">TEMPLATE RESUMES</a></li>
							<li><a href="#">RESUME TYPES</a></li>
							<li><a href="#">ACCOUNT</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
