<div class="video-background">
	<img src="../assets/images/video.JPG" alt=""/>
	<div class="titles-banner d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>
						<span>
							RESUME BUILDER</span>
						IS VERY UTILE FOR CREATE YOUR CUSTOMIZE RESUME AND EDITE WHAT ARE YOU WANT</h2>
				</div>
			</div>
		</div>
	</div>
</div>
