<div class="video-background">
	<div class="titles-banner d-flex align-items-center">

		<video autoplay muted loop>
			<source src="../assets/images/video/v2.mp4" type="video/mp4">
		</video>
	</div>

	<div class="titles-banner d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>
						<span>
							RESUME BUILDER</span>
						IS VERY UTILE FOR CREATE YOUR CUSTOMIZE RESUME AND EDITE WHAT ARE YOU WANT</h2>
				</div>
			</div>
		</div>
	</div>
</div>
