<div class="video-background">
  <div class="titles-banner d-flex align-items-center pt-5 pb-5">
    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-12">
          <h2><span>Resume Builder</span> Is Very Utile For Create Your Customize Resume And Edite What Are You Want</h2>
        </div>
      </div>
    </div>
  </div>
</div>
