<div class="wrap-account flx-center">
	<div class="container pb-5 pt-5 mt-5">
		<div class="row justify-content-center mt-5">
			<div class="col-12 col-10 col-lg-8 col-xl-6">
				<div class="sc-account">
					<form method="POST" action="">
						<h2>Sign Up</h2>
						<div class="mb-4"><input type="text" placeholder="Name *"></div>
						<div class="mb-4"><input type="email" placeholder="Email *"></div>
						<div class="mb-4"><input type="password" placeholder="Password *"></div>
						<div class="mb-4"><input type="password" placeholder="Confirmation password *"></div>
						<div class="mb-4"><input type="submit" class="btn-big btn-bg-semo" value="Sign Up"></div>
						<p>
							Already have an account?
							<a href="sign-in.html">Sign In</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
