.menu-create {
    width: 100%;
    background-color: $white;
    border-radius: 9px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-resume {
    border-radius: 12px;
    padding: 20px;
    background-color: $white;

    /* Progressbar */
    .progressbar {
        position: relative;
        display: flex;
        justify-content: space-between;
        counter-reset: step;
        margin: 2rem 0 4rem;
        z-index: 0;
    }

    .progressbar::before,
    .progress {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 4px;
        width: 100%;
        background-color: $wt;
        z-index: -1;
    }

    .progress {
        background-color: $perpel;
        width: 15%;
    }

    .progress-step {
        width: 1.5rem;
        height: 1.5rem;
        border: 4px solid $wt;
        background-color: $white;
        border-radius: 50%;
    }


    .progress-step-active {
        border: 4px solid $perpel;
    }

    /* Form */

    .form-step {
        display: none;
    }

    .form-step-active {
        display: block;
    }

    /* Button */
    .btns-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h2 {
        text-transform: capitalize;
    }

    input {
        display: block;
        width: 100%;
        margin-bottom: 25px;
    }
}

.upload-image {
    position: relative;
    z-index: 0;

    &>input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        opacity: 0;
    }
}

.image-file {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $wt;
    border-radius: 50%;
    width: 150px;
    height: 150px;

    img {
        width: 60px;
        height: auto;
        object-fit: contain;
    }
}

@media(min-width:768px) {
    .form-resume {
        padding: 30px;

        /* Progressbar */
        .progressbar::before,
        .progress {
            height: 8px;
        }

        .progress-step {
            width: 2.5rem;
            height: 2.5rem;
            border: 8px solid $wt;
        }

        .progress-step-active {
            border: 8px solid $perpel;
        }
    }
}

@media(min-width:992px) {
    .form-resume {
        padding: 40px;

        /* Progressbar */
        .progressbar::before,
        .progress {
            height: 10px;
        }

        .progress-step {
            width: 3rem;
            height: 3rem;
            border: 10px solid $wt;
        }

        .progress-step-active {
            border: 10px solid $perpel;
        }
    }
}
