<div class="s-create-resume">
	<div class="s-download d-flex justify-content-between align-items-center">
		<a href="index.html" class="text-white">Back home</a>
		<div class="d-flex">
			<button class="btn-w btn-" id="save-cv">save</button>
			<button class="btn-w btn-bg-white" id="download-pdf">Download</button>
		</div>
	</div>
	<div class="d-flex">
		<section class="tabs-section">
			<button class="btn-hid">
				<svg fill="#ffffff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 24 24" xml:space="preserve">
					<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
					<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
					<g id="SVGRepo_iconCarrier">
						<style type="text/css">
							.st0 {
								fill: none;
							}
						</style>
						<path d="M9,18l7-6L9,6V18z"></path>
						<rect class="st0" width="24" height="24"></rect>
						<rect class="st0" width="24" height="24"></rect>
					</g>
				</svg>
			</button>
			<div class="tabs-container">
				<ul class="tabs-nav">
					<li class="tab active" data-tab="informations">
						Informations
					</li>
					<li class="tab" data-tab="templates">
						Templates
					</li>
				</ul>
				<div class="tabs-content">
					<div class="tab-pane active" id="informations">
						<div method="post" class="form-infos" action="">
							<div class="w-100">
								<h2>
									Informations
								</h2>
								<div class="mt-3">
									<div class="image-file">
										<img src="" id="image"/>
										<div>
											<button type="button" class="btn-w  btn-upload"><img src="../assets/images/icons/camera.svg"/><input type="file" id="image-file"/></button>
										</div>
									</div>
									<input type="text" class="myInput" data-id="name-text" id="name" placeholder="First and last name"/>
									<input type="text" class="myInput" data-id="job-text" id="job" placeholder="Job title*"/>
									<textarea placeholder="Resume text" data-id="description-text" class="myInput" id="description"></textarea>
									<input type="tel" id="phone" data-id="phone-text" class="myInput" placeholder="Phone*"/>
									<textarea placeholder="adress" class="myInput" data-id="address-text" id="adress"></textarea>
									<input type="email" id="email" data-id="email-text" class="myInput" placeholder="Email*"/>
									<input type="text" id="linkedin" data-id="linkedin-text" class="myInput" placeholder="Linkedin"/>
								</div>
							</div>
							<div class="w-100">
								<h2>
									Experiences
								</h2>
								<div class="mt-3">
									<input type="text" id="companyName" placeholder="Company name *"/>
									<input type="date" class="experienceDates" id="datestart" placeholder="Date start *"/>
									<input type="date" class="experienceDates" id="datend" placeholder="Date end"/>
									<textarea placeholder="Description job" id="descriptionJob"></textarea>
								</div>
								<div id="experiencesList" class="experiences-list"></div>
							</div>
							<a href="javascript:void(0);" id="addExperienceBtn" class="btn-w  mb-3">Add</a>
							<div class="w-100">
								<h2>
									Education
								</h2>
								<div class="mt-3">
									<div><input type="text" id="schooleName" placeholder="School name *"/></div>
									<div><input type="date" id="datein" placeholder="Date start *"/></div>
									<div><input type="date" id="dateout" placeholder="Date end"/></div>
									<div>
										<textarea id="descriptiondip" placeholder="Description diplome"></textarea>
									</div>
								</div>
								<ul id="educationsList" class="education-list"></ul>
							</div>
							<a href="javascript:void(0);" id="addEducationBtn" class="btn-w  mb-3">Add</a>
							<div class="w-100">
								<h2>
									Certificates
								</h2>
								<div class="mt-3">
									<div><input type="text" id="certificateInput" placeholder="Certificate title *"/></div>
									<div><input type="date" id="strdate" placeholder="Date"/></div>
									<div><input type="date" id="endate" placeholder="Date"/></div>
								</div>
								<ul id="certificatesList" class="certificatesList"></ul>
							</div>
							<a href="javascript:void(0);" id="addCertificateBtn" class="btn-w  mb-3">Add</a>
							<div class="w-100">
								<h2>
									Skills
								</h2>
								<div class="mt-3">
									<input type="text" id="skillInput" placeholder="Title *"/>
								</div>
								<ul id="skillsList" class="skillsList skills-list"></ul>
							</div>
							<a href="javascript:void(0);" id="addSkillBtn" class="btn-w  mb-3">Add</a>
							<div class=" w-100">
								<h2>
									Languages
								</h2>
								<div class="mt-3">
									<div><input type="text" id="langueInput" placeholder="Title *"/></div>
									<div>
										<select id="langueLevel">
											<option value="Mastery">Mastery</option>
											<option value="Advanced">Advanced</option>
											<option value="Upper Intermediate">Upper Intermediate</option>
											<option value="Intermediate">Intermediate</option>
											<option value="Elementary">Elementary</option>
											<option value="Beginner">Beginner</option>
										</select>
									</div>
								</div>
								<ul id="languagesList" class="languagesList"></ul>
							</div>
							<a href="javascript:void(0);" id="addlangueBtn" class="btn-w  mb-3">Add</a>
							<div class=" w-100">
								<h2>
									Interests
								</h2>
								<div class="mt-3">
									<input type="text" id="interestInput" placeholder="Title *"/>
								</div>
								<ul id="interestsList" class="interestsList interests-list"></ul>
							</div>
							<a href="javascript:void(0);" id="addInterestBtn" class="btn-w  mb-3">Add</a>
							<div class="w-100 d-block mb-5">
								<button class="btn-w btn- w-100" name="save-resume">Save</button>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="templates">
						<div class="cv-templates">
							<a href="javascript:void(0);">
								<img src="../assets/images/cv1.png" alt=""/>
							</a>
							<a href="javascript:void(0);">
								<img src="../assets/images/cv2.png" alt=""/>
							</a>
							<a href="javascript:void(0);">
								<img src="../assets/images/cv.jpg" alt=""/>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="section-cv">
			<div class="toolbar d-none" id="style-toolbar">
				<div class="s-color" style="margin-right: 15px;">
					<strong>A</strong>
					<input type="color" class="color-option"/>
				</div>
				<div style="margin-right: 15px;">
					<div>
						<input type="number" value="16" min="6" max="72" class="font-size-option"/>
						<span>px</span>
					</div>
				</div>
				<div>
					<select>
						<option value="" style="font-family: sans-serif">Text</option>
						<option value="" style="font-family: sans-serif">Text</option>
					</select>
				</div>
			</div>
			<div class="s-template">
				{# {% include '../cvs/cv2.twig' %} #}
				{% include '../cvs/cv3.twig' %}
			</div>
		</div>
	</div>
</div>
