.d-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.d-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    align-items: center;
}

.menu-create {
    width: 100%;
    background-color: $white;
    border-radius: 9px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
        padding: 13px 15px;
        border-radius: 9px;
        color: $color-p;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        img {
            width: 20px;
            height: 20px;
            object-fit: contain;
            margin-right: 8px;
        }
    }

    .active-link,
    a:hover {
        background-color: $perpel-2;
        color: $white;
    }
}

.s-create-resume {
    position: relative;
    z-index: 0;
}

.form-resume {
    border-radius: 12px;
    padding: 20px;
    background-color: $white;
    grid-column: 2/11;
    position: relative;
    z-index: 0;
    overflow: hidden;

    .add-sc {
        width: 100%;
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        font-family: 'helvetica', sans-serif !important;
        padding: 5px 20px;
        background-color: $perpel-42;
        color: $color-p;
        grid-column: 1/3;
        border-radius: 9px;
    }

    /* Progressbar */
    .progressbar {
        position: relative;
        display: flex;
        justify-content: space-between;
        counter-reset: step;
        margin: 1.5rem 0;
        z-index: 0;
    }

    .progressbar::before,
    .progress {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 4px;
        width: 100%;
        background-color: $wt;
        z-index: -1;
    }

    .progress {
        background-color: $perpel;
        width: 15%;
    }

    .progress-step {
        width: 1.5rem;
        height: 1.5rem;
        border: 4px solid $wt;
        background-color: $white;
        border-radius: 50%;
    }


    .progress-step-active {
        border: 4px solid $perpel;
    }

    /* Form */

    .form-step {
        display: none;
    }

    .form-step-active {
        display: block;
    }

    /* Button */
    .btns-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h2 {
        text-transform: capitalize;
    }

    select,
    textarea,
    input {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
}

.upload-image {
    position: relative;
    z-index: 0;
    margin-bottom: 20px;

    &>input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        opacity: 0;
    }
}

.image-file {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid $perpel;
    margin: auto;

    img {
        width: 60px;
        height: auto;
        object-fit: contain;
    }
}

.pallete-color {
    padding: 15px 0;
    background-color: $perpel-2;

    label {
        display: block;
        text-align: center;
        font-size: 1rem;
        display: block;
        color: black;
    }
}

@media(min-width:768px) {
    .form-resume {
        padding: 30px;

        /* Progressbar */
        .progressbar::before,
        .progress {
            height: 8px;
        }

        .progress-step {
            width: 2.5rem;
            height: 2.5rem;
            border: 8px solid $wt;
        }

        .progress-step-active {
            border: 8px solid $perpel;
        }
    }
}

@media(min-width:992px) {
    .form-resume {
        padding: 20px 40px;

        /* Progressbar */
        .progressbar::before,
        .progress {
            height: 10px;
        }

        .progress-step {
            width: 3rem;
            height: 3rem;
            border: 10px solid $wt;
        }

        .progress-step-active {
            border: 10px solid $perpel;
        }
    }
}

.w-49 {
    width: 49%;
}

#cv {
    font-family: 'Poppins', sans-serif !important;

    h1 {
        font-size: 2rem;
        line-height: 1 !important;
        font-weight: bold !important;
        white-space: nowrap;
        text-transform: uppercase;
    }

    h2 {
        font-size: 1.6rem;
        line-height: 1 !important;
        font-weight: normal !important;
        white-space: nowrap;
    }

    p {
        line-height: 1.6;
    }

    .sm {
        max-width: 250px;
        font-size: 0.8rem;
        padding: 0 8px;

        img {
            width: 14px;
            object-fit: contain;
            object-position: center;
            margin-right: 5px;
        }
    }

    .bd {
        width: 100%;

        h2 {
            text-transform: uppercase;
            border-bottom: 4px solid;
        }
    }
}

.cv-canvas {
    width: 100%;

    svg {
        width: 100%;
    }
}