<div class="s-create-resume">
	<div class="pallete-color bg-white">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="d-flex">
						<div class="mb-3">
							<strong>Color:</strong>
							<label for="colorPicker1"></label>
							<input type="color" id='colorPicker1'>
						</div>
						<div>
							<strong>Bg:</strong>
							<label for="colorPicker2"></label>
							<input type="color" id='colorPicker2'>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid pt-5 pb-5">
		<div class="row">
			<div class="col-12 col-xl-2">
				<nav class="menu-create">
					<a href="javascript:void(0);" class="dwn active-link">
						<img src="../assets/images/icons/download.svg" alt=""/>
						Télécharger
					</a>
					<a href="javascript:void(0);">
						<img src="../assets/images/icons/logout.svg" alt=""/>
						Update informations</a>
					<a href="javascript:void(0);">
						<img src="../assets/images/icons/heart.svg" alt=""/>
						Enregistrement
					</a>
					<a href="javascript:void(0);">
						<img src="../assets/images/icons/logout.svg" alt=""/>
						Deconnexion</a>
				</nav>
			</div>
			<div class="col-12 col-xl-10 d-none">
				<div class="form-resume d-none">
					<form
						action="#" class="form">
						<!-- Progress bar -->
						<div class="progressbar">
							<div class="progress" id="progress"></div>
							<div class="progress-step progress-step-active" data-title="Informations"></div>
							<div class="progress-step" data-title="Experiences"></div>
							<div class="progress-step" data-title="Education"></div>
							<div class="progress-step" data-title="Certificates"></div>
							<div class="progress-step" data-title="Skills"></div>
							<div class="progress-step" data-title="language"></div>
							<div class="progress-step" data-title="Awards"></div>
							<div class="progress-step" data-title="Interests"></div>
						</div>
						<!-- Steps -->
						<div class="form-step form-step-active">
							<h2 class="text-color-p  mb-5">Informations</h2>
							<div class="d-grid-3">
								<div class="upload-image">
									<input type="file"/>
									<div class="image-file">
										<img src="../assets/images/icons/camera.svg"/>
									</div>
								</div>
								<div>
									<input type="text" placeholder="First and last name"/>
									<input type="email" placeholder="Email*"/>
								</div>
								<div>
									<input type="text" placeholder="Job title"/>
									<input type="tel" placeholder="Phone *"/>
								</div>
							</div>
							<div class="d-grid-2">
								<div><input type="text" placeholder="Linkedin"/></div>
								<div><input type="text" placeholder="URL website"/></div>
								<div>
									<textarea placeholder="Adresse"></textarea>
								</div>
								<div>
									<textarea placeholder="Resume text"></textarea>
								</div>
							</div>
							<div class="btns-group mt-3">
								<a href="javascript:void(0);" class="btn-next btn-w bg-perple">Next</a>
							</div>
						</div>
						<div class="form-step">
							<h2 class="text-color-p  mb-3">Experiences</h2>
							<div class="d-grid-2">
								<div><input type="text" placeholder="Job title *"/></div>
								<div><input type="text" placeholder="Company name *"/></div>
								<div><input type="date" placeholder="Date start *"/></div>
								<div><input type="date" placeholder="Date end"/></div>
								<div><input type="text" placeholder="Company Website *"/></div>
								<div>
									<textarea placeholder="Description"></textarea>
								</div>
							</div>
							<a href="javascript:void(0);" data-sc="experience" class="add-sc flx-center">+</a>
							<div class="btns-group mt-3">
								<a href="javascript:void(0)" class="btn-prev  btn-w bg-perple">Previous</a>
								<a href="javascript:void(0);" class="btn-next btn-w bg-perple">Next</a>
							</div>
						</div>
						<div class="form-step">
							<h2 class="text-color-p  mb-3">Education</h2>
							<div class="d-grid-2">
								<div><input type="text" placeholder="Title *"/></div>
								<div><input type="text" placeholder="School name *"/></div>
								<div><input type="date" placeholder="Date start *"/></div>
								<div><input type="date" placeholder="Date end"/></div>
								<div>
									<textarea placeholder="Description"></textarea>
								</div>
							</div>
							<a href="javascript:void(0);" data-sc="education" class="add-sc flx-center">+</a>
							<div class="btns-group mt-3">
								<a href="javascript:void(0)" class="btn-prev  btn-w bg-perple">Previous</a>
								<a href="javascript:void(0);" class="btn-next btn-w bg-perple">Next</a>
							</div>
						</div>
						<div class="form-step">
							<h2 class="text-color-p  mb-3">Certificates</h2>
							<div class="d-grid-2">
								<div><input type="text" placeholder="Certificate title *"/></div>
								<div><input type="date" placeholder="Date"/></div>
							</div>
							<a href="javascript:void(0);" data-sc="certificates" class="add-sc flx-center">+</a>
							<div class="btns-group mt-3">
								<a href="javascript:void(0)" class="btn-prev  btn-w bg-perple">Previous</a>
								<a href="javascript:void(0);" class="btn-next btn-w bg-perple">Next</a>
							</div>
						</div>
						<div class="form-step">
							<h2 class="text-color-p  mb-3">Skills</h2>
							<div><input type="text" placeholder="Title *"/></div>
							<a href="javascript:void(0);" data-sc="skills" class="add-sc flx-center">+</a>
							<div class="btns-group mt-3">
								<a href="javascript:void(0)" class="btn-prev  btn-w bg-perple">Previous</a>
								<a href="javascript:void(0);" class="btn-next btn-w bg-perple">Next</a>
							</div>
						</div>
						<div class="form-step">
							<h2 class="text-color-p  mb-3">language</h2>
							<div class="d-grid-2">
								<div><input type="text" placeholder="Title *"/></div>
								<div>
									<select>
										<option value="Level">Level</option>
										<option value="Mastery">Mastery</option>
										<option value="Advanced">Advanced</option>
										<option value="Upper Intermediate">Upper Intermediate</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Elementary">Elementary</option>
										<option value="Beginner">Beginner</option>
									</select>
								</div>
							</div>
							<a href="javascript:void(0);" data-sc="language" class="add-sc flx-center">+</a>
							<div class="btns-group mt-3">
								<a href="javascript:void(0)" class="btn-prev  btn-w bg-perple">Previous</a>
								<a href="javascript:void(0);" class="btn-next btn-w bg-perple">Next</a>
							</div>
						</div>
						<div class="form-step">
							<h2 class="text-color-p  mb-3" class="">Awards</h2>
							<div><input type="text" placeholder="Title *"/></div>
							<a href="javascript:void(0);" data-sc="award" class="add-sc flx-center">+</a>
							<div class="btns-group mt-3">
								<a href="javascript:void(0)" class="btn-prev  btn-w bg-perple">Previous</a>
								<a href="javascript:void(0);" class="btn-next btn-w bg-perple">Next</a>
							</div>
						</div>
						<div class="form-step">
							<h2 class="text-color-p  mb-3">Interests</h2>
							<div><input type="text" placeholder="Title *"/></div>
							<a href="javascript:void(0);" data-sc="interest" class="add-sc flx-center">+</a>
							<div class="btns-group mt-3">
								<a href="javascript:void(0)" class="btn-prev  btn-w bg-perple">Previous</a>
								<button class="btn-w bg-color-p">Submit</button>
							</div>
						</div>
					</form>
				</div>
				<div class="form-resume p-5 bg-perple-2 d-none">
					<h1 class="text-white">Save Resumes</h1>
					<form action="" method="">
						<div class="container">
							<div class="row">
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="card-resume mb-3">
										<div class="card-resume__bg">
											<a href="javascript:void(0);" class="btn-preview flx-center">
												<img src="../assets/images/icons/preview.svg" alt=""/>
											</a>
											<div class="card-buttons">
												<a href="create-resume.html" class="btn-w btn-white">USE THIS</a>
												<button class="btn-save">
													<img src="../assets/images/icons/delete.svg" alt="">
												</button>
											</div>
										</div>
										<div class="card-resume__img">
											<img src="../assets/images/cv.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="card-resume mb-3">
										<div class="card-resume__bg">
											<a href="javascript:void(0);" class="btn-preview flx-center">
												<img src="../assets/images/icons/preview.svg" alt=""/>
											</a>
											<div class="card-buttons">
												<a href="create-resume.html" class="btn-w btn-white">USE THIS</a>
												<button class="btn-save">
													<img src="../assets/images/icons/delete.svg" alt="">
												</button>
											</div>
										</div>
										<div class="card-resume__img">
											<img src="../assets/images/cv.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="card-resume mb-3">
										<div class="card-resume__bg">
											<a href="javascript:void(0);" class="btn-preview flx-center">
												<img src="../assets/images/icons/preview.svg" alt=""/>
											</a>
											<div class="card-buttons">
												<a href="create-resume.html" class="btn-w btn-white">USE THIS</a>
												<button class="btn-save">
													<img src="../assets/images/icons/delete.svg" alt="">
												</button>
											</div>
										</div>
										<div class="card-resume__img">
											<img src="../assets/images/cv.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="card-resume mb-3">
										<div class="card-resume__bg">
											<a href="javascript:void(0);" class="btn-preview flx-center">
												<img src="../assets/images/icons/preview.svg" alt=""/>
											</a>
											<div class="card-buttons">
												<a href="create-resume.html" class="btn-w btn-white">USE THIS</a>
												<button class="btn-save">
													<img src="../assets/images/icons/delete.svg" alt="">
												</button>
											</div>
										</div>
										<div class="card-resume__img">
											<img src="../assets/images/cv.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="card-resume mb-3">
										<div class="card-resume__bg">
											<a href="javascript:void(0);" class="btn-preview flx-center">
												<img src="../assets/images/icons/preview.svg" alt=""/>
											</a>
											<div class="card-buttons">
												<a href="create-resume.html" class="btn-w btn-white">USE THIS</a>
												<button class="btn-save">
													<img src="../assets/images/icons/delete.svg" alt="">
												</button>
											</div>
										</div>
										<div class="card-resume__img">
											<img src="../assets/images/cv.jpg" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-12 col-xl-9">
				<div class="form-resume p-4">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="text-color"></div>
								<div id="cv">
									<div class="hd d-flex justify-content-between align-items-center cv-bg" style="background-color:#eeeeee;padding:40px;">
										<div>
											<h1 contenteditable="true">Imane benkhadra</h1>
											<h2 contenteditable="true">Web developper</h2>
										</div>
										<div class="sm" style="border-left:4px solid black;">
											<div class="d-flex align-items-center mb-1">
												<div width="20">
													<svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewbox="0 0 24 24" fill="none">
														<path d="M16.5562 12.9062L16.1007 13.359C16.1007 13.359 15.0181 14.4355 12.0631 11.4972C9.10812 8.55901 10.1907 7.48257 10.1907 7.48257L10.4775 7.19738C11.1841 6.49484 11.2507 5.36691 10.6342 4.54348L9.37326 2.85908C8.61028 1.83992 7.13596 1.70529 6.26145 2.57483L4.69185 4.13552C4.25823 4.56668 3.96765 5.12559 4.00289 5.74561C4.09304 7.33182 4.81071 10.7447 8.81536 14.7266C13.0621 18.9492 17.0468 19.117 18.6763 18.9651C19.1917 18.9171 19.6399 18.6546 20.0011 18.2954L21.4217 16.883C22.3806 15.9295 22.1102 14.2949 20.8833 13.628L18.9728 12.5894C18.1672 12.1515 17.1858 12.2801 16.5562 12.9062Z" fill="red"/>
													</svg>
													<img src="../assets/images/icons/phone.png" width="14" alt=""/>
												</div>
												<div>
													<span contenteditable="true">
														+212666664884</span>
												</div>
											</div>
											<div class="d-flex align-items-center mb-1">
												<div>
													<img src="../assets/images/icons/email.png" width="14" alt=""/>
												</div>
												<div>
													<span contenteditable="true">benkhadra.iman@gmail.com</span>
												</div>
											</div>
											<div class="d-flex align-items-center mb-1">
												<div>
													<img src="../assets/images/icons/website.png" width="14" alt=""/>
												</div>
												<div>
													<span contenteditable="true">www.website.com</span>
												</div>
											</div>
											<div class="d-flex align-items-center mb-1">
												<div>
													<img src="../assets/images/icons/map.png" width="14" alt=""/>
												</div>
												<div>
													<span contenteditable="true">xxxxxxxxxxx</span>
												</div>
											</div>
										</div>
									</div>
									<div class="bd" style="padding:40px;">
										<div class="mb-4">
											<h2 class="mb-2 pb-2" contenteditable="true">Resume</h2>
											<p class="mb-2" contenteditable="true">
												lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf
											</p>
										</div>
										<div class="mb-4">
											<h2 class="mb-2 pb-2" contenteditable="true">Resume</h2>
											<p class="mb-2" contenteditable="true">
												lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf
											</p>
										</div>
										<div class="mb-4">
											<h2 class="mb-2 pb-2" contenteditable="true">Resume</h2>
											<p class="mb-2" contenteditable="true">
												lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf
											</p>
										</div>
										<div class="mb-4">
											<h2 class="mb-2 pb-2" contenteditable="true">Resume</h2>
											<p class="mb-2" contenteditable="true">
												lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="popup">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<button class="btn-close"></button>
					<div class="flx-between">
						<button class="btn-w bg-white">Annuler</button>
						<button class="btn-w bg-perple">Apply</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="popup wrap-priview flx-center" id="popup1">
	<button class="btn-close"></button>
	<div class="popup-priview">
		<img src="../assets/images/cv.jpg" data-image="../assets/images/cv.jpg" alt=""/>
	</div>
</div>
