<div class="s-create-resume">
	<div class="s-download d-flex justify-content-between align-items-center">
		<a href="index.html" class="text-white">Back home</a>
		<div class="d-flex">
			<button class="btn-w btn-bg-semo" id="save-cv">save</button>
			<button class="btn-w btn-bg-white" id="download-pdf">Download</button>
		</div>
	</div>
	<div class="d-flex">
		<section class="tabs-section">
			<button class="btn-hid">
				<svg fill="#ffffff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 24 24" xml:space="preserve">
					<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
					<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
					<g id="SVGRepo_iconCarrier">
						<style type="text/css">
							.st0 {
								fill: none;
							}
						</style>
						<path d="M9,18l7-6L9,6V18z"></path>
						<rect class="st0" width="24" height="24"></rect>
						<rect class="st0" width="24" height="24"></rect>
					</g>
				</svg>
			</button>
			<div class="tabs-container">
				<ul class="tabs-nav">
					<li class="tab active" data-tab="informations">
						<svg viewbox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4S14.21 4 12 4s-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>
						Your informations
					</li>
					<li class="tab" data-tab="templates">
						<svg fill="#000000" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="dashboard-alt" class="icon glyph">
							<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
							<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
							<g id="SVGRepo_iconCarrier">
								<path d="M14,10V22H4a2,2,0,0,1-2-2V10Z"></path>
								<path d="M22,10V20a2,2,0,0,1-2,2H16V10Z"></path>
								<path d="M22,4V8H2V4A2,2,0,0,1,4,2H20A2,2,0,0,1,22,4Z"></path>
							</g>
						</svg>
						Templates
					</li>
				</ul>
				<div class="tabs-content">
					<div class="tab-pane active" id="informations">
						<div method="post" class="form-infos" action="">
							<div class="w-100">
								<h2>
									Informations
								</h2>
								<div class="mt-3">
									<div class="image-file">
										<img src="" id="image"/>
										<div>
											<button type="button" class="btn-w btn-bg-blue btn-upload"><img src="../assets/images/icons/camera.svg"/><input type="file" id="image-file"/></button>
										</div>
									</div>
									<input type="text" class="myInput" data-id="name-text" id="name" placeholder="First and last name"/>
									<input type="text" class="myInput" data-id="job-text" id="job" placeholder="Job title*"/>
									<textarea placeholder="Resume text" data-id="description-text" class="myInput" id="description"></textarea>
									<input type="tel" id="phone" data-id="phone-text" class="myInput" placeholder="Phone*"/>
									<textarea placeholder="adress" class="myInput" data-id="address-text" id="adress"></textarea>
									<input type="email" id="email" data-id="email-text" class="myInput" placeholder="Email*"/>
									<input type="text" id="linkedin" data-id="linkedin-text" class="myInput" placeholder="Linkedin"/>
								</div>
							</div>
							<div class="w-100">
								<h2>
									Experiences
								</h2>
								<div class="mt-3">
									<input type="text" placeholder="Company name *"/>
									<input type="date" placeholder="Date start *"/>
									<input type="date" placeholder="Date end"/>
									<textarea placeholder="Description job"></textarea>
								</div>
							</div>
							<a href="javascript:void(0);" class="btn-w btn-bg-blue mb-3">Add</a>
							<div class="w-100">
								<h2>
									Education
								</h2>
								<div class="mt-3">
									<div><input type="text" placeholder="School name *"/></div>
									<div><input type="date" placeholder="Date start *"/></div>
									<div><input type="date" placeholder="Date end"/></div>
									<div>
										<textarea placeholder="Description diplome"></textarea>
									</div>
								</div>
							</div>
							<a href="javascript:void(0);" class="btn-w btn-bg-blue mb-3">Add</a>
							<div class="w-100">
								<h2>
									Certificates
								</h2>
								<div class="mt-3">
									<div><input type="text" placeholder="Certificate title *"/></div>
									<div><input type="date" placeholder="Date"/></div>
								</div>
							</div>
							<a href="javascript:void(0);" class="btn-w btn-bg-blue mb-3">Add</a>
							<div class="w-100">
								<h2>
									Skills
								</h2>
								<div class="mt-3">
									<input type="text" id="skillInput" placeholder="Title *"/>
								</div>
								<ul id="skillsList" class="skillsList skills-list"></ul>
							</div>
							<a href="javascript:void(0);" id="addSkillBtn" class="btn-w btn-bg-blue mb-3">Add</a>
							<div class=" w-100">
								<h2>
									Languages
								</h2>
								<div class="mt-3">
									<div><input type="text" placeholder="Title *"/></div>
									<div>
										<select>
											<option value="Level">Level</option>
											<option value="Mastery">Mastery</option>
											<option value="Advanced">Advanced</option>
											<option value="Upper Intermediate">Upper Intermediate</option>
											<option value="Intermediate">Intermediate</option>
											<option value="Elementary">Elementary</option>
											<option value="Beginner">Beginner</option>
										</select>
									</div>
								</div>
							</div>
							<a href="javascript:void(0);" class="btn-w btn-bg-blue mb-3">Add</a>
							<div class=" w-100">
								<h2>
									Interests
								</h2>
								<div class="mt-3"><input type="text" placeholder="Title *"/>
								</div>
							</div>
							<a href="javascript:void(0);" class="btn-w btn-bg-blue mb-3">Add</a>
							<div class="w-100 d-block mb-5">
								<button class="btn-w btn-bg-semo w-100" name="save-resume">Save</button>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="templates">
						<div class="cv-templates">
							<a href="javascript:void(0);">
								<img src="../assets/images/cv.jpg" alt=""/>
							</a>
							<a href="javascript:void(0);">
								<img src="../assets/images/cv1.png" alt=""/>
							</a>
							<a href="javascript:void(0);">
								<img src="../assets/images/cv.jpg" alt=""/>
							</a>
							<a href="javascript:void(0);">
								<img src="../assets/images/cv.jpg" alt=""/>
							</a>
							<a href="javascript:void(0);">
								<img src="../assets/images/cv.jpg" alt=""/>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="section-cv">
			<div class="toolbar d-none" id="style-toolbar">
				<div class="s-color" style="margin-right: 15px;">
					<strong>A</strong>
					<input type="color" class="color-option"/>
				</div>
				<div style="margin-right: 15px;">
					<div>
						<input type="number" value="16" min="6" max="72" class="font-size-option"/>
						<span>px</span>
					</div>
				</div>
				<div>
					<select>
						<option value="" style="font-family: sans-serif">Text</option>
						<option value="" style="font-family: sans-serif">Text</option>
					</select>
				</div>
			</div>
			<div class="s-template">
				{% include '../cvs/cv1.twig' %}
			</div>
		</div>
	</div>
</div>
