<div class="s-create-resume">
	<div class="container-fluid pt-5 pb-5">
		<div class="row">
			<div class="col-12 col-xl-2">
				<nav class="menu-create">
					<a href="javascript:void(0);" class="dwn active-link">
						<img src="../assets/images/icons/download.svg" alt=""/>
						Télécharger
					</a>
					<a href="javascript:void(0);">
						<img src="../assets/images/icons/logout.svg" alt=""/>
						Update informations</a>
					<a href="javascript:void(0);">
						<img src="../assets/images/icons/heart.svg" alt=""/>
						Enregistrement
					</a>
					<a href="javascript:void(0);">
						<img src="../assets/images/icons/logout.svg" alt=""/>
						Deconnexion</a>
				</nav>
			</div>
			<div class="col-12 col-xl-10">
				<div class="form-resume">
					<form
						action="#" class="form">
						<!-- Progress bar -->
						<div class="progressbar">
							<div class="progress" id="progress"></div>
							<div class="progress-step progress-step-active" data-title="Informations"></div>
							<div class="progress-step" data-title="Experiences"></div>
							<div class="progress-step" data-title="Education"></div>
							<div class="progress-step" data-title="Certificates"></div>
							<div class="progress-step" data-title="Skills"></div>
							<div class="progress-step" data-title="language"></div>
							<div class="progress-step" data-title="Awards"></div>
							<div class="progress-step" data-title="Interests"></div>
						</div>
						<!-- Steps -->
						<div class="form-step form-step-active">
							<h2 class="text-color-p  mb-5">Informations</h2>
							<div class="d-grid-3">
								<div class="upload-image">
									<input type="file"/>
									<div class="image-file">
										<img src="../assets/images/icons/camera.svg"/>
									</div>
								</div>
								<div>
									<input type="text" placeholder="First and last name"/>
									<input type="email" placeholder="Email*"/>
								</div>
								<div>
									<input type="text" placeholder="Job title"/>
									<input type="tel" placeholder="Phone *"/>
								</div>
							</div>
							<div class="d-grid-2">
								<div><input type="text" placeholder="Linkedin"/></div>
								<div><input type="text" placeholder="URL website"/></div>
								<div>
									<textarea placeholder="Adresse"></textarea>
								</div>
								<div>
									<textarea placeholder="Resume text"></textarea>
								</div>
							</div>
							<div class="btns-group mt-3">
								<a href="javascript:void(0);" class="btn-next btn-w bg-perple">Next</a>
							</div>
						</div>
						<div class="form-step">
							<h2 class="text-color-p  mb-3">Experiences</h2>
							<div class="d-grid-2">
								<div><input type="text" placeholder="Job title *"/></div>
								<div><input type="text" placeholder="Company name *"/></div>
								<div><input type="date" placeholder="Date start *"/></div>
								<div><input type="date" placeholder="Date end"/></div>
								<div><input type="text" placeholder="Company Website *"/></div>
								<div>
									<textarea placeholder="Description"></textarea>
								</div>
							</div>
							<a href="javascript:void(0);" data-sc="experience" class="add-sc flx-center">+</a>
							<div class="btns-group mt-3">
								<a href="javascript:void(0)" class="btn-prev  btn-w bg-perple">Previous</a>
								<a href="javascript:void(0);" class="btn-next btn-w bg-perple">Next</a>
							</div>
						</div>
						<div class="form-step">
							<h2 class="text-color-p  mb-3">Education</h2>
							<div class="d-grid-2">
								<div><input type="text" placeholder="Title *"/></div>
								<div><input type="text" placeholder="School name *"/></div>
								<div><input type="date" placeholder="Date start *"/></div>
								<div><input type="date" placeholder="Date end"/></div>
								<div>
									<textarea placeholder="Description"></textarea>
								</div>
							</div>
							<a href="javascript:void(0);" data-sc="education" class="add-sc flx-center">+</a>
							<div class="btns-group mt-3">
								<a href="javascript:void(0)" class="btn-prev  btn-w bg-perple">Previous</a>
								<a href="javascript:void(0);" class="btn-next btn-w bg-perple">Next</a>
							</div>
						</div>
						<div class="form-step">
							<h2 class="text-color-p  mb-3">Certificates</h2>
							<div class="d-grid-2">
								<div><input type="text" placeholder="Certificate title *"/></div>
								<div><input type="date" placeholder="Date"/></div>
							</div>
							<a href="javascript:void(0);" data-sc="certificates" class="add-sc flx-center">+</a>
							<div class="btns-group mt-3">
								<a href="javascript:void(0)" class="btn-prev  btn-w bg-perple">Previous</a>
								<a href="javascript:void(0);" class="btn-next btn-w bg-perple">Next</a>
							</div>
						</div>
						<div class="form-step">
							<h2 class="text-color-p  mb-3">Skills</h2>
							<div><input type="text" placeholder="Title *"/></div>
							<a href="javascript:void(0);" data-sc="skills" class="add-sc flx-center">+</a>
							<div class="btns-group mt-3">
								<a href="javascript:void(0)" class="btn-prev  btn-w bg-perple">Previous</a>
								<a href="javascript:void(0);" class="btn-next btn-w bg-perple">Next</a>
							</div>
						</div>
						<div class="form-step">
							<h2 class="text-color-p  mb-3">language</h2>
							<div class="d-grid-2">
								<div><input type="text" placeholder="Title *"/></div>
								<div>
									<select>
										<option value="Level">Level</option>
										<option value="Mastery">Mastery</option>
										<option value="Advanced">Advanced</option>
										<option value="Upper Intermediate">Upper Intermediate</option>
										<option value="Intermediate">Intermediate</option>
										<option value="Elementary">Elementary</option>
										<option value="Beginner">Beginner</option>
									</select>
								</div>
							</div>
							<a href="javascript:void(0);" data-sc="language" class="add-sc flx-center">+</a>
							<div class="btns-group mt-3">
								<a href="javascript:void(0)" class="btn-prev  btn-w bg-perple">Previous</a>
								<a href="javascript:void(0);" class="btn-next btn-w bg-perple">Next</a>
							</div>
						</div>
						<div class="form-step">
							<h2 class="text-color-p  mb-3" class="">Awards</h2>
							<div><input type="text" placeholder="Title *"/></div>
							<a href="javascript:void(0);" data-sc="award" class="add-sc flx-center">+</a>
							<div class="btns-group mt-3">
								<a href="javascript:void(0)" class="btn-prev  btn-w bg-perple">Previous</a>
								<a href="javascript:void(0);" class="btn-next btn-w bg-perple">Next</a>
							</div>
						</div>
						<div class="form-step">
							<h2 class="text-color-p  mb-3">Interests</h2>
							<div><input type="text" placeholder="Title *"/></div>
							<a href="javascript:void(0);" data-sc="interest" class="add-sc flx-center">+</a>
							<div class="btns-group mt-3">
								<a href="javascript:void(0)" class="btn-prev  btn-w bg-perple">Previous</a>
								<button class="btn-w bg-color-p">Submit</button>
							</div>
						</div>
					</form>
				</div>
				<div class="form-resume p-5 bg-perple-2 d-none
																																		">
					<h1 class="text-white">Save Resumes</h1>
					<form action="" method="">
						<div class="container">
							<div class="row">
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="card-resume mb-3">
										<div class="card-resume__bg">
											<a href="javascript:void(0);" class="btn-preview flx-center">
												<img src="../assets/images/icons/preview.svg" alt=""/>
											</a>
											<div class="card-buttons">
												<a href="create-resume.html" class="btn-w bg-perple">USE THIS</a>
												<button class="btn-save">
													<img src="../assets/images/icons/delete.svg" alt="">
												</button>
											</div>
										</div>
										<div class="card-resume__img">
											<img src="../assets/images/cv.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="card-resume mb-3">
										<div class="card-resume__bg">
											<a href="javascript:void(0);" class="btn-preview flx-center">
												<img src="../assets/images/icons/preview.svg" alt=""/>
											</a>
											<div class="card-buttons">
												<a href="create-resume.html" class="btn-w bg-perple">USE THIS</a>
												<button class="btn-save">
													<img src="../assets/images/icons/delete.svg" alt="">
												</button>
											</div>
										</div>
										<div class="card-resume__img">
											<img src="../assets/images/cv.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="card-resume mb-3">
										<div class="card-resume__bg">
											<a href="javascript:void(0);" class="btn-preview flx-center">
												<img src="../assets/images/icons/preview.svg" alt=""/>
											</a>
											<div class="card-buttons">
												<a href="create-resume.html" class="btn-w bg-perple">USE THIS</a>
												<button class="btn-save">
													<img src="../assets/images/icons/delete.svg" alt="">
												</button>
											</div>
										</div>
										<div class="card-resume__img">
											<img src="../assets/images/cv.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="card-resume mb-3">
										<div class="card-resume__bg">
											<a href="javascript:void(0);" class="btn-preview flx-center">
												<img src="../assets/images/icons/preview.svg" alt=""/>
											</a>
											<div class="card-buttons">
												<a href="create-resume.html" class="btn-w bg-perple">USE THIS</a>
												<button class="btn-save">
													<img src="../assets/images/icons/delete.svg" alt="">
												</button>
											</div>
										</div>
										<div class="card-resume__img">
											<img src="../assets/images/cv.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="card-resume mb-3">
										<div class="card-resume__bg">
											<a href="javascript:void(0);" class="btn-preview flx-center">
												<img src="../assets/images/icons/preview.svg" alt=""/>
											</a>
											<div class="card-buttons">
												<a href="create-resume.html" class="btn-w bg-perple">USE THIS</a>
												<button class="btn-save">
													<img src="../assets/images/icons/delete.svg" alt="">
												</button>
											</div>
										</div>
										<div class="card-resume__img">
											<img src="../assets/images/cv.jpg" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="form-resume p-5">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<h1 class="text-center mb-3">Name of resume</h1>
								<img src="../assets/images/cv.jpg" alt="">
								<div id="cv">
									<div class="hd d-flex justify-content-between align-items-center" style="background-color:#eeeeee;padding: 20px 40px;">
										<div>
											<h1>Imane benkhadra</h1>
											<h2>Web developper</h2>
										</div>
										<div class="sm" style="padding-left:10px;border-left:4px solid black;">
											<div class="d-flex align-items-center">
												<div>
													<img src="../assets/images/icons/heart.svg" alt=""/>
												</div>
												<div>
													<span>xxxxxxxxxxx</span>
												</div>
											</div>
											<div class="d-flex align-items-center">
												<div>
													<img src="https://raw.githubusercontent.com/emy-wins/assets_resume/refs/heads/main/email.png?token=GHSAT0AAAAAAC552WTRNVCTL55KOZISKGCGZ4WVWRQ" alt=""/>
												</div>
												<div>
													<span>xxxxxxxxxxx</span>
												</div>
											</div>
											<div class="d-flex align-items-center">
												<div>
													<img src="../assets/images/icons/heart.svg" alt=""/>
												</div>
												<div>
													<span>xxxxxxxxxxx</span>
												</div>
											</div>
											<div class="d-flex align-items-center">
												<div>
													<img src="https://raw.githubusercontent.com/emy-wins/assets_resume/refs/heads/main/map.png?token=GHSAT0AAAAAAC552WTQHTEFV3JZ6ASCJG3MZ4WVTBA"  alt=""/>
												</div>
												<div>
													<span>xxxxxxxxxxx</span>
												</div>
											</div>
										</div>
									</div>
									<div class="bd" style="padding: 30px 40px;">
										<div>
											<h2 class="mb-2">xxxxxxxxxxx</h2>
											<p class="mb-2">
												lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf lorem hdfks sfhdjfhkjfds sdflkdsf 																																																																					
											</p>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="popup">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<button class="btn-close"></button>
					<div class="flx-between">
						<button class="btn-w bg-white">Annuler</button>
						<button class="btn-w bg-perple">Apply</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="popup wrap-priview flx-center" id="popup1">
	<button class="btn-close"></button>
	<div class="popup-priview">
		<img src="../assets/images/cv.jpg" data-image="../assets/images/cv.jpg" alt=""/>
	</div>
</div>
