<div class="s-list-resumes pt-3 pb-5">
	<div class="container">
		<h2 class="text-white mb-4">
			Resume Types
		</h2>
		<div class="row">
			<div class="col-6 col-md-3 mb-3">
				<div class="card-resume mb-3">
					<div class="card-resume__bg">
						<a href="javascript:void(0);" data-preview="../assets/images/cv1.png" class="btn-preview flx-center"><img src="../assets/images/icons/preview.svg" alt=""/></a>
						<div class="card-buttons">
							<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv1.png" alt=""/>
					</div>
					<div class="card-resume__type">
						<span>type resume</span>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 mb-3">
				<div class="card-resume mb-3">
					<div class="card-resume__bg">
						<a href="javascript:void(0);" data-preview="../assets/images/cv.jpg" class="btn-preview flx-center"><img src="../assets/images/icons/preview.svg" alt=""/></a>
						<div class="card-buttons">
							<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
					<div class="card-resume__type">
						<span>type resume</span>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 mb-3">
				<div class="card-resume mb-3">
					<div class="card-resume__bg">
						<a href="javascript:void(0);" data-preview="../assets/images/cv.jpg" class="btn-preview flx-center"><img src="../assets/images/icons/preview.svg" alt=""/></a>
						<div class="card-buttons">
							<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
					<div class="card-resume__type">
						<span>francphone</span>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 mb-3">
				<div class="card-resume mb-3">
					<div class="card-resume__bg">
						<a href="javascript:void(0);" data-preview="../assets/images/cv.jpg" class="btn-preview flx-center"><img src="../assets/images/icons/preview.svg" alt=""/></a>
						<div class="card-buttons">
							<a href="create-resume.html" class="btn-w  btn-bg-white-blue">USE THIS</a>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
					<div class="card-resume__type">
						<span>arabic</span>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center flx-center mt-4">
			<a href="resumes.html" class="btn-w-big btn-bg-white-blue">
				<span>View more resumes</span>
			</a>
		</div>
	</div>
</div>
