<div class="pt-5 pb-5 bg-perple">
	<div class="container">
		<h2 class="text-center mb-5">
			<span>RESUME</span>TYPES</h2>
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-4 mb-5">
				<div class="card-resume">
					<div class="card-resume__bg">
						<button class="btn-preview">
							<img src="../assets/images/icons/preview.svg" alt=""/>
						</button>
						<div class="card-buttons">
							<a href="#" class="btn-w">USE THIS</a>
							<button class="btn-save">
								<img src="../assets/images/icons/save.svg" alt=""/>
							</button>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 mb-5">
				<div class="card-resume">
					<div class="card-resume__bg">
						<button class="btn-preview">
							<img src="../assets/images/icons/preview.svg" alt=""/>
						</button>
						<div class="card-buttons">
							<a href="#" class="btn-w">USE THIS</a>
							<button class="btn-save">
								<img src="../assets/images/icons/save.svg" alt=""/>
							</button>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 mb-5">
				<div class="card-resume">
					<div class="card-resume__bg">
						<button class="btn-preview">
							<img src="../assets/images/icons/preview.svg" alt=""/>
						</button>
						<div class="card-buttons">
							<a href="#" class="btn-w">USE THIS</a>
							<button class="btn-save">
								<img src="../assets/images/icons/save.svg" alt=""/>
							</button>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 mb-5">
				<div class="card-resume">
					<div class="card-resume__bg">
						<button class="btn-preview">
							<img src="../assets/images/icons/preview.svg" alt=""/>
						</button>
						<div class="card-buttons">
							<a href="#" class="btn-w">USE THIS</a>
							<button class="btn-save">
								<img src="../assets/images/icons/save.svg" alt=""/>
							</button>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 mb-5">
				<div class="card-resume">
					<div class="card-resume__bg">
						<button class="btn-preview">
							<img src="../assets/images/icons/preview.svg" alt=""/>
						</button>
						<div class="card-buttons">
							<a href="#" class="btn-w">USE THIS</a>
							<button class="btn-save">
								<img src="../assets/images/icons/save.svg" alt=""/>
							</button>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 mb-5">
				<div class="card-resume">
					<div class="card-resume__bg">
						<button class="btn-preview">
							<img src="../assets/images/icons/preview.svg" alt=""/>
						</button>
						<div class="card-buttons">
							<a href="#" class="btn-w">USE THIS</a>
							<button class="btn-save">
								<img src="../assets/images/icons/save.svg" alt=""/>
							</button>
						</div>
					</div>
					<div class="card-resume__img">
						<img src="../assets/images/cv.jpg" alt=""/>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</div>
