<div class="s-list-resumes pt-3 pb-5">
	<div class="container">
		<h2 class="mb-4">
			Resume Types
		</h2>
		<div class="row">
			<div class="col-6 col-md-4 mb-3">
				<div class="card-resume mb-3">
					<a href="create-resume.html">
						<div class="card-resume__img">
							<img src="../assets/images/cv1.png" alt=""/>
						</div>
						<div class="card-resume__type">
							<span>type resume</span>
						</div>
					</a>
				</div>
			</div>
			<div class="col-6 col-md-4 mb-3">
				<div class="card-resume mb-3">
					<a href="create-resume.html">
						<div class="card-resume__img">
							<img src="../assets/images/cv2.png" alt=""/>
						</div>
						<div class="card-resume__type">
							<span>type resume</span>
						</div>
					</a>
				</div>
			</div>
			<div class="col-6 col-md-4 mb-3">
				<div class="card-resume mb-3">
					<a href="create-resume.html">
						<div class="card-resume__img">
							<img src="../assets/images/cv.jpg" alt=""/>
						</div>
						<div class="card-resume__type">
							<span>francphone</span>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="text-center flx-center mt-4">
			<a href="resumes.html" class="btn-w-big ">
				<span>View more resumes</span>
			</a>
		</div>
	</div>
</div>
