<style>
	.s-cv {
		font-family: sans-serif !important;
	}

	.cv {
		background: #fff;
	}
	.cv p {
		margin-bottom: 0;
	}

	.cv-infos {
		align-items: center;
		margin-bottom: 20px;
	}
	.cv-infos ul {
		font-size: 12px;
	}

	.s-cv h2,
	.s-cv h1,
	.s-cv ul {
		padding-left: 0;
		margin-bottom: 0;
	}
	.s-cv ul li p {
		margin-bottom: 5px;
	}
	.s-cv ul li:before {
		content: '✓ ';
		color: #ff3678;
	}
	.s-cv ul li.phone:before {
		content: "☎ "
	}
	.s-cv ul li.email:before {
		content: "@ "
	}
	.s-cv ul li.adress:before {
		content: "🏠︎ "
	}
	.s-cv ul li.linkedin:before {
		content: "IN ";
	}
	.s-cv ul li.website:before {
		content: "🌏︎ ";
	}
	.s-cv .grid-4 {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.colls-1 {
		grid-column: 1 / 2;
	}
	.colls-3 {
		grid-column: 2 / 5;
		margin-left: 20px;
	}
	.s-cv section {
		padding-bottom: 20px;
	}
	strong,
	p,
	span {
		color: #4d4d4d;
	}
</style>
<div class="s-cv">
	<div class="cv" id="cv">
		<div class="cv-infos grid-4">
			<div class="s-cv-image colls-1" id="preview"></div>
			<div class="colls-3">
				<div class="d-flex">
					<div style="width:49%;">
						<h1 class="cv_title_h1" id="name-text" style="margin-buttom:10px;font-weight:bold;color: #ff3678;">IMANE BENKHADRA</h1>
						<h2 class="cv_title" id="job-text" style="margin-buttom:10px;font-weight: 500;color: #ff3678;">Web Developper</h2>
					</div>
					<ul class="cv_text" style="font-size:11px;text-align:right;width:49%;margin-buttom:10px;">
						<li class="phone" id="phone-text">0612345678</li>
						<li class="email" id="email-text">benkhadra.iman@gmail.com</li>
						<li class="adress" id="address-text">Etalia venis</li>
						<li class="linkedin" id="linkedin-text">Imane benkhadra</li>
						<li class="website" id="website-text">Imane benkhadra</li>
					</ul>
				</div>
				<p id="description-text">gfhfg hfghg fhgfh fghfgh fghfghf fhfghfg hfghf fhfghfgh fghfghf fhfghfgh</p>
			</div>
		</div>
		<div class="grid-4">
			<div class="colls-1">
				<section>
					<h2 class="cv_title" style="font-weight: 500;color: #ff3678;">Skills</h2>
					<ul class="cv_text skillscv" id="previewSkills">
						<li>HTML,css</li>
						<li>Javascript</li>
						<li>Jira Software</li>
						<li>MYSQL/SQL Server</li>
						<li>Jira Software</li>
						<li>MYSQL/SQL Server</li>
					</ul>
				</section>
				<section>
					<h2 class="cv_title" style="font-weight: 500;color: #ff3678;">Languages</h2>
					<ul class="cv_text" id="previewLanguages">
						<li>Arabe</li>
						<li>fransh</li>
						<li>English</li>
					</ul>
				</section>
				<section>
					<h2 class="cv_title" style="font-weight: 500;color: #ff3678;">Interests</h2>
					<ul class="cv_text" id="previewInterests">
						<li>Travel</li>
						<li>Driving</li>
						<li>Reding</li>
						<li>Sport</li>
					</ul>
				</section>
			</div>
			<div class="colls-3">
				<section>
					<h2 class="cv_title" style="font-weight: 500;color: #ff3678;">Experiences</h2>
					<ul class="cv_text" id="previewExperiences">
						<li>
							<strong>Company name</strong>
							<p>22/03/2020-22/03/2024</p>
							<p>gfhfghfghgfhgfhfghfghfghfghf fhfghfghfghf fhfghfghfghfghf fhfghfgh</p>
						</li>
						<li>
							<strong>Company name</strong>
							<p>22/03/2020-22/03/2024</p>
							<p>gfhfghfghgfhgfhfghfghfghfghf fhfghfghfghf fhfghfghfghfghf fhfghfgh</p>
						</li>
						<li>
							<strong>Company name</strong>
							<p>22/03/2020-22/03/2024</p>
							<p>gfhfghfghgfhgfhfghfghfghfghf fhfghfghfghf fhfghfghfghfghf fhfghfgh</p>
						</li>
					</ul>
				</section>
				<section>
					<h2 class="cv_title" style="font-weight: 500;color: #ff3678;font-size: 1.5rem;">Education</h2>
					<ul class="cv_text" id="previewEducations">
						<li>
							<strong>School name</strong>
							<p>22/03/2020-22/03/2024</p>
							<p>gfhfghfghgfhgfhfghfghfghfghf fhfghfghfghfghf</p>
						</li>
						<li>
							<strong>School name</strong>
							<p>22/03/2020-22/03/2024</p>
							<p>gfhfghfghgfhgfhfghfghfghfghf fhfghfghfghfghf</p>
						</li>
						<li>
							<strong>School name</strong>
							<p>22/03/2020-22/03/2024</p>
							<p>gfhfghfghgfhgfhfghfghfghfghf fhfghfghfghfghf</p>
						</li>
					</ul>
				</section>
				<section>
					<h2 class="cv_title" style="font-weight: 500;color: #ff3678;">Certificates</h2>
					<ul class="cv_text" id="previewCertif">
						<li>
							<strong>School name</strong>
							<p>22/03/2020-22/03/2024</p>
						</li>
						<li>
							<strong>School name</strong>
							<p>22/03/2020-22/03/2024</p>
						</li>
						<li>
							<strong>School name</strong>
							<p>22/03/2020-22/03/2024</p>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</div>
</div>
